body
{
	margin: 10%;
	background-image: url("images/bg_1.jpg");
	background-repeat: no-repeat;
	background-size: 1550px 1080px;
	font-family: sans-serif;
	color: white;
	font-style: 30px;
	letter-spacing: 2px;
}
.head{
	color: #b3ffff; 
}
a{
	top: 90%;
	left: 30%;
	background-color: #99ffff;
	position: absolute;
	transform: translate(-50%,-50%);
	color: black;
	padding: 20px 40px;
	font-style: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration:inherit;
	
	overflow: hidden;
}